.events__list-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 2px solid #172153;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .events__list-item h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #172153;
  }
  
  .events__list-item h2 {
      margin: 0;
      padding-top: 5px;
      font-size: 1rem;
      color: #454f59;
  }
  
  .events__list-item p {
      margin: 0;
  }