body{
    background-color: white;
}

.auth-page {
    padding: 0;
    display: flex;
}

.img-login{
    width:50%;
    top:0;
    margin:-15px;
    float: left;
    height:100%;
}

.auth-form {
    width: 50%;
    float: right;
    margin: 10rem 5rem;
    padding: 2rem;    
  }
  
 .auth-form h1 {
    margin:10px;
    margin-left: 0;
    top:0;
    color: #f56f46;

 }
  .form-control label,
  .form-control input {
    width: 100%;
    display: block;
  }
  
  .form-control label {
    margin-bottom: 0.5rem;
    font-size: 20px;
  }
  
  .form-control input {
    height: 30px;
    border: none;
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    transition: color 0.3s ease-out;
  }

  .form-control {
    margin-bottom: 1rem;
  }
  
  .form-actions button {
    background: #172153;
    font: inherit;
    border: 1px solid #01d1d1;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
  }
  
  .form-actions button:hover,
  .form-actions button:active {
      background: #f56f46;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }