.bookings__list {
  width: 30rem;
  height: 40rem;
  list-style: none;
  margin: 2rem auto;
  padding: 40px;
  }
  
  .bookings__item {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #172153;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: #454f59 0px 5px 15px;
  }

  .bookings__item-data {
    color: #fff;
  }